<html>
<head>
    <title>TODO List</title>
    <meta name="viewport" content="width=devide-width,initial-scale=1.0">
    <!-- adding favicon -->
    <link rel="shortcut icon" type="image/icon" href="/images/favicon.ico">
    <!-- bootstrap link -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- fontawsome link -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
        integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        <!-- external css file -->
    <link rel="stylesheet" type="text/css" href="/css/home.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body class="container">
    <div id="main">    
        <!-- heading  -->
        <h1 id="heading">TODO App</h1>
        <hr class="style-one">
        <form action="/create-list" method="POST">
            <div id="des" style="height:auto;">
                <!-- description area -->
                <div id="description">
                    <label>DESCRIPTION</label><br>
                    <input style="width:440px;" class="input" type="text" name="description" placeholder="What do you need to do?" required>
                </div>
            </div>
            <!-- category and date section -->
            <div id="cat-date">
                <div style="display:inline-block;" id="category">
                    <label>CATEGORY</label><br>
                    <select name="category" id="sel" required>
                        <option disabled selected>Choose a category</option>
                        <option value="PERSONAL">PERSONAL</option>
                        <option value="WORK">WORK</option>
                        <option value="SCHOOL">SCHOOL</option>
                        <option value="CLEANING">CLEANING</option>
                        <option value="OTHER">OTHER</option>
                    </select>
                </div>
                <div style="display:inline-block; vertical-align: top; height:75px;" id="date">
                    <label id="d-date">DUE DATE</label><br>
                    <input id="due-date" name="date" type="date" required>
                </div>
            </div>
             <!-- add button -->
            <button id="add" type="submit" class="btn btn-dark" style="position: absolute;"><i
                    class="fas fa-plus"></i>ADD</button>
        </form>
        <form action="/delete-list" method="POST">
            <!-- delete button -->
            <button id="del" type="submit" style="position: absolute;" class="btn btn-danger"><i
                    class="fas fa-trash-alt"></i>DELETE</button>

            <div id="unordered-list">
                <ul>
                    <!-- iterating over task list -->
                    <% for(let i of todo_data) {%>
                    <li id="elements">
                        <div id="list-elements">
                            <input id="check-box" class="check-box" type="checkbox" name="_id" value="<%= i._id %>"
                                onclick="myFun()">
                            <span id="des-list" class="des-list"><%= i.description %></span>
                            <% if(i.category=="WORK"){ %>
                            <span id="category-box"
                                style="float: right;background-color: purple;"><%= i.category %></span>
                            <%}%>
                            <% if(i.category=="PERSONAL"){ %>
                            <span id="category-box" style="float: right;background-color: red;"><%= i.category %></span>
                            <%}%>
                            <% if(i.category=="OTHER"){ %>
                            <span id="category-box"
                                style="float: right;background-color: rgb(216, 216, 18);"><%= i.category %></span>
                            <%}%>    
                            <% if(i.category=="CLEANING"){ %>
                            <span id="category-box"
                                style="float: right;background-color: green;"><%= i.category %></span>
                            <%}%>
                            <% if(i.category=="SCHOOL"){ %>
                            <span id="category-box"
                                style="float: right;background-color:royalblue;"><%= i.category %></span>
                            <%}%>            
                        <br>
                        <span id="time" class="time"><i class="far fa-calendar-alt"></i>
                            <%= i.date %></span>
                        </div>
                    </li>
                    <% } %>
                </ul>
            </div>

        </form>
    </div>
    <!-- adding external js file -->
    <script src="/js/home.js"></script>
</body>

</html>